[2021-07-21 12:06] Mrhb787 opened #49 "Cart Purchase Qnty Update API Issue"
- After Increasing the Purchase Qnty if we reload the instance is lost.

[2021-07-21 13:55] RohitKumar-200 opened #50 "Download invoice as pdf"
After order completion, there should be an option to download the invoice as a pdf.
We can use npm package [react-pdf](https://www.npmjs.com/package/react-pdf)

[2021-07-22 04:37] gyen92 commented on #49
I want to take this issue if you don't mind.

[2021-07-22 11:03] Mrhb787 opened #51 "Wishlist Remove Button Problem"
- When You are Trying to remove Items from Wishlist the items get removed but the next items remove button text changes from **remove** to **removing**.
- This issue is may be due to bad state handeling.

[2021-07-22 11:05] Mrhb787 opened #52 "Website Is Not Mobile Friendly"
- Website breaks on Small Screens

[2021-07-22 11:21] Mrhb787 commented on #49
**Yes go for it!**
- After Fixing the issue Send the PR to Dev Branch only.

- Issue (explaining again)

[2021-07-22 11:27] Mrhb787 opened #53 "Sidenav Is not working!"
- SideNav for small screens lacks functioning
![Annotation 2021-07-22 200731](https://user-images.githubusercontent.com/56078689/126657687-c7e6715a-7989-4f6c-84d8-82d0de43be22.png)

[2021-07-22 12:45] Mrhb787 commented on #50
- Working on It!
- Using React-pdf Library

[2021-07-22 14:18] VWRoli commented on #53
Hello! I would like to tackle this issue, if I may.

[2021-07-22 14:35] Mrhb787 commented on #53
**Sure Go For It!**
Remember to
- **Send PR** only to `dev` branch.
- Not change any other Components.

**Issue**
- [ ] Sidenav Lacks Navigation.
- [ ] Lacks Search API Functioning
- [ ] UI Improvements

[2021-07-23 08:30] VWRoli commented on #53
I have a question. "Profile" and "Cart" menu has a profile class which only functionality is to show these two menu links under 650px. Which to me seems redundant, considering the sidenav only visible under around 850px.
I personally would delete this part of the code as it doesn't make sense to NOT show these two menu links between 850px and 650px.

Let me know what should I do with it. Or if I m

[2021-07-23 09:30] RohitKumar-200 opened #56 "Login process improvement"
After login, the user is provided an option to log in as a user, seller, or admin.
I think It is useless to ask it in case a user is not an admin, as selecting user or seller is same, we should redirect him to the home page directly without asking,
If the user is an admin, we should give an option to log in as admin or user.

![login](https://user-images.githubusercontent.com/55583961/126762498-f2

[2021-07-23 09:52] Mrhb787 commented on #53
[code]

- When Screen Size (width) gets `800px` or below **Sidenav** appears with only **Nav-links.** `Cart, Wishlist and Search box` does not appear in **Sidenav** and they stay in the original Navbar but when screen size gets `650px` or below these elements appear in **Sidenav** and gets hidden in main **Navbar**.

_Result of Removing the Above Chunk of Code_
**Sidenav** will not have `Search Bo

[2021-07-23 09:57] Mrhb787 opened #57 "A Good Readme File Required."
**A Well Explained Readme File Is required for the project.**
- It Should Contain
  - About this Project
  - How to Install and Contribute.
  - Screen-Shots.
 etc...

[2021-07-23 10:05] VWRoli commented on #53
I see, I missed that completely. Thanks for the answer. I will proceed accordingly.

[2021-07-23 12:41] VWRoli commented on #57
Working on this one.

[2021-07-24 09:10] #53 closed

[2021-07-24 09:10] #57 closed

[2021-08-10 12:41] VWRoli opened #63 "Content overflows on checkout page"
If we have multiple products in our cart, and go to the checkout page, the content overflows the containing div. Both big and small screens.
Easy to fix, I can do it if you want, let me know.

![Screenshot from 2021-08-10 14-34-31](https://user-images.githubusercontent.com/31432331/128868418-ec2fd12f-4e5f-4b2d-9c6a-4d439ac43444.png)

[2021-08-17 12:05] VWRoli opened #66 "Unhandled rejection error"
After login I get an unhandled rejection error in the reviews component.

[2021-08-18 06:25] #66 closed

[2021-08-18 06:25] #63 closed

[2021-08-18 15:22] VWRoli opened #68 "Cannot close small profile popup"
When I open the small profile popup, as a user I should be able to close it with clicking outsite of it.

![Screenshot from 2021-08-18 17-20-04](https://user-images.githubusercontent.com/31432331/129925416-be647788-172f-489b-a692-9354ef7f36a3.png)

[2021-09-18 07:27] Mrhb787 commented on #56
I have Fixed all related issues regarding this.

[2021-09-18 07:27] #56 closed

[2021-09-20 06:26] Mrhb787 opened #71 "Password visibility toggle missing in Password Recovery Component"
![Annotation 2021-09-20 115250](https://user-images.githubusercontent.com/56078689/133963225-4dd415f0-6ea8-4d6e-8276-308ba9172cc9.png)

- New Password
- Confirm Password

- Help can be taken from Signup component form

[2021-09-20 06:38] Mrhb787 opened #72 "Sitemap Required"
- Currently there is no Sitemap present.
- A sitemap is a file where you provide information about the pages, videos, and other files on your site, and the relationships between them.
- Create a component as **Sitemap** in `src/components` and create a **Sitemap.js** file as the Sitemap.
- Css can also be added using in Same Directory with same name as **Sitemap.css**.
- Route to Sitemap will be `

[2021-09-20 06:43] Mrhb787 opened #73 "'Enter' Keypress missing in Search bar in Navbar Component"
![Annotation 2021-09-20 121007](https://user-images.githubusercontent.com/56078689/133964513-df88ae6d-7005-4195-ac4d-73fcb3a0f667.png)

- After writing a Search query when you press **"Enter Key"** nothing happens.
- A simple Keypress Event can be added to solve the problem.

[2021-09-20 06:51] Mrhb787 opened #74 "'Enter' Keypress missing in Search bar in Sidenav Component"
![Annotation 2021-09-20 121500](https://user-images.githubusercontent.com/56078689/133965289-98612871-51fb-433e-97fc-c81038f082ca.png)
- After writing a Search query when you press "Enter Key" nothing happens.
- A simple Keypress Event can be added to solve the problem.

[2021-09-20 06:57] Mrhb787 opened #75 ""Hide" Profile Link when Not Logged-In in Sidenav Component"
![Annotation 2021-09-20 121500](https://user-images.githubusercontent.com/56078689/133965601-f90aa01f-e9cf-4bb9-875a-cb5350700169.png)

- When Not Logged-In Profile Link shouldn't be visible as that does not makes any sense.
- A simple ternary operator can be used with checking if user is logged in then show the profile link otherwise hide it.
- More Help can be taken from Sidenav Component itself

[2021-09-20 07:06] Mrhb787 opened #76 "Blog Component Designs Needed"
- No blog Components currently present.
- A blog Component UI/UX design Needed which can further be used as to develop the blog component of bookshlf.
- Designs can be made Using Figma or any other UI/UX Tools.
- Both Small and Large Screen are needed.
- Designs should contain these
      - Recent blogs
      - Search blogs
      - Write new Blog

[2021-09-20 11:40] PuneetDabral commented on #74
sir can i do my first contribution here....!!?sir if you can help me

[2021-09-20 13:46] RohitKumar-200 commented on #74
Go for it!!
We will be happy to have you as a contributor. And feel free to ask any doubt.
😃

[2021-09-20 15:04] PuneetDabral commented on #74
ok sir i will try ...

[2021-09-20 15:08] Mrhb787 commented on #74
- Please Go for it.
- Kindly Note to Follow Contribution guidelines and only send PRs to `dev` branch. PRs sent to other branches will be rejected.

[2021-09-21 07:43] PuneetDabral commented on #74
hello sir help me to resolve this issue!! i have done the set up of the  project  after that what i can do ....

[2021-09-21 08:09] Mrhb787 commented on #74
- If you have successfully installed the project use `npm start` in console to start the website locally.
- Go to project main Directory then `src/components/Navbar/Sidenav.js`
- Understand the Sidenav react Js written.
- Make changes to search Bar in Sidenav you can simply use Keypress event of js for this.
- A good understanding of react js is required.
- Refer below Image for better Understandi

[2021-09-21 08:10] PuneetDabral commented on #74
sir i am new in react...

[2021-09-21 08:14] Mrhb787 commented on #74
Please share the code used.
- You can drop Screenshot.
- Or written Code

[2021-09-21 08:19] PuneetDabral commented on #74
ok i will try please check ...

[2021-09-21 08:22] PuneetDabral commented on #74
![Screenshot (90)](https://user-images.githubusercontent.com/86554356/134137213-b705a923-11bd-41bf-bb28-8b1088a19c7d.png)

[2021-09-21 08:31] Mrhb787 commented on #74
- Keypress is general Event in Javascript But React uses it differently.
- for Reacts the event is `onKeyPress`.
- Try to understand **CODE** below carefully.
[code]
- Hope You will now be able to solve the issue.

[2021-09-21 08:35] PuneetDabral commented on #74
i should change KEY NAME to Enter ....

[2021-09-21 08:42] Mrhb787 commented on #74
**YES**
and remember to add search functionality.
for that just redirect to this path.
[code]

[2021-09-21 08:47] PuneetDabral commented on #74
can you check this ..

[2021-09-21 08:48] PuneetDabral commented on #74
can i made a pr

[2021-09-22 06:14] #68 closed

[2021-09-24 08:52] Mrhb787 commented on #49
Issue Has Been Solved I will close this Now

[2021-09-24 08:52] #49 closed

[2021-09-24 09:14] Mrhb787 opened #80 "Display of items count in cart in SideNav"
- It will be really good if Cart In **SideNav** Also display cart items count.
- for example
![Annotation 2021-09-24 143415](https://user-images.githubusercontent.com/56078689/134648791-e14063ee-d5d6-44e3-af98-c02471ef7613.png)

- How ?
  - Use **User Context** to get the `user` state from `Usercontext.js`. Refer `Cart.js` for better Understanding.
  - `user` Object has a property `cartitems` that

[2021-09-24 18:31] AngelicHeaven commented on #80
Hello, I would like to work on this issue.

[2021-09-24 18:37] Mrhb787 commented on #80
Yes go for it !

[2021-09-25 08:19] Mrhb787 commented on #71
Issue has been resolved. I will Close this Now.

[2021-09-25 08:19] #71 closed

[2021-09-25 09:02] AngelicHeaven commented on #80
Thank you! I will let you know if I need more info, but I think your instructions are clear.

[2021-09-26 19:54] AngelicHeaven commented on #80
Hey, so I changed the Cart in the SideNav to display the number of current items in the cart. So I solved this issue.

But I discovered another thing I would like to work on.  I figured out there is bug when it comes to counting items in the cart. When we have one book in Cart and we click to add quantity of that book by 1 -> we should have 2 items in Cart (cartitems = 2), but Cart still displays

[2021-09-27 07:24] Mrhb787 commented on #80
- Send PR for #80 issue separately.

- There is already an Issue related to this which is #49 You Can work On this. I have also Updated the issue as you told.

[2021-09-27 11:36] AngelicHeaven commented on #49
Alright, so I can work on this, right?

[2021-09-27 11:37] AngelicHeaven commented on #80
Alright, I will send PR for the issue "Display of items count in cart in SideNav" separately.

[2021-09-27 12:29] Mrhb787 commented on #49
Yeah Go For It

[2021-10-04 15:31] minhhang107 commented on #73
Can I work on this issue?

[2021-10-04 19:37] MuhammadTanveer94 commented on #74
@Mrhb787 @PuneetDabral could you please assign me this? i would love to do this task.

[2021-10-04 19:51] RohitKumar-200 commented on #74
@MuhammadTanveer94 I have assigned you this task. Feel free to ask any doubt.

[2021-10-04 21:21] MuhammadTanveer94 commented on #74
@RohitKumar-200 @Mrhb787  please look into this PR https://github.com/Bookshlf-in/Website/pull/87. Kindly merge it.

[2021-10-05 06:20] Mrhb787 commented on #74
Issue Has Been Resolved I will Close this Issue Now.

[2021-10-05 06:20] #74 closed

[2021-10-05 08:40] AnimeshMore commented on #75
Hello, I would like to work on this issue.

[2021-10-05 09:02] Mrhb787 commented on #75
Sure Go For It!

[2021-10-06 13:10] Ujjwal-Gupta-web commented on #73
@Mrhb787
PR #90
Resolves this issue

[2021-10-06 18:44] #75 closed

[2021-10-06 18:54] minhhang107 commented on #73
@RohitKumar-200 I'll take on this one. Thanks

[2021-10-07 05:52] Mrhb787 commented on #80
@AngelicHeaven Are You Still Working On this Issue ?
- Please Respond otherwise I have to remove you from assignees so that other people can take up this issue.

[2021-10-07 05:55] #73 closed

[2021-10-07 05:59] Mrhb787 commented on #49
@AngelicHeaven Are You Working on this Issue ?

[2021-10-07 06:12] Mrhb787 opened #92 "Add Your Reviews in Reviews Component is Not Responsive and breaks on Small Screens."
![Annotation 2021-10-07 113701](https://user-images.githubusercontent.com/56078689/136329001-c8164785-bdd2-46da-8924-b0c453303912.png)

- Media Queries in CSS can be used to fix this issue.
- located in `src/components/Reviews`

[2021-10-07 08:31] RohitKumar-200 opened #94 "Missing seller public profile"
There is no component for seller public profile (route = /SellerProfile/<sellerId>). This route can be assessed by clicking on the seller's name in the book details section.

This component should have the following fields:
* Name
* Intro
* Photo
* No. of books sold
* Rating
* No. of ratings
* No. of reviews
* Verified batch if the seller is verified

All this info will be available in folloiwing

[2021-10-07 09:10] AngelicHeaven commented on #80
@Mrhb787  yes, I will pull PR for this by this friday.

[2021-10-07 09:59] Gaston82 opened #96 "Bug detected in BestSellingBooks.js file"
![bug-books](https://user-images.githubusercontent.com/55330161/136363130-5292f404-c331-482c-aaa0-9d53f4c9550e.png)

[2021-10-07 10:13] Gaston82 opened #97 "Bug Material UI Menu component"
![bug-menu-books](https://user-images.githubusercontent.com/55330161/136365187-37b0ee5e-a890-4a7c-9a1e-a91c9783a242.png)

[2021-10-08 16:04] Mrhb787 commented on #80
It's ok If you don't get to solving the issue. I will look into it.

[2021-10-08 16:24] AngelicHeaven commented on #49
@Mrhb787 Hi, since I have some issues with remote PR in this moment, I would like to request more time. I will try to send my PR for this issue  during the weekend.

[2021-10-08 18:25] RohitKumar-200 opened #102 "Can't select multiple images in "Add new book" section"
In seller panel, **Add new book** section.

There is no option to add more images after selecting one image, if we click on that image again to add more new images, it replaces previously selected images.
The only way to add multiple images is to select all required images at once.

It would be better if we have a button named **Add more images** or a plus icon to add more images.
![book img](http

[2021-10-08 20:19] benardcharumbira commented on #102
@RohitKumar-200 may you please assign this to me

[2021-10-08 21:00] RohitKumar-200 opened #103 "UI changes required for deleted books"
Books which are deleted by their seller are still accessible through URL (Through bookmarks or something else). It has the same UI as of normally available book.

Current UI for the deleted book:
![Screenshot (392)](https://user-images.githubusercontent.com/55583961/136623408-e0df3e85-e066-4045-b205-e3b8bd48ba24.png)

For a deleted book, a red-colored note should appear that the book is not availa

[2021-10-08 23:51] taimooralqureshi commented on #103
please assign this task to me!

[2021-10-09 22:51] taimooralqureshi commented on #103
[@RohitKumar-200,](url) please look into it > [PR#105](https://github.com/Bookshlf-in/Website/pull/105)

[2021-10-09 23:30] #103 closed

[2021-10-11 13:55] Mrhb787 opened #110 "Stop User From Buy Now if Not Logged In!"
![Screenshot 2021-10-11 192027](https://user-images.githubusercontent.com/56078689/136801570-8cd86db9-0c8e-49ad-a675-fd70d5fce149.png)

- If User Is not Logged In The Buy Now should Not redirect it to payments page.
- Currently Even IF user is not Logged In it redirects to Payments page which is Wrong.
- A simple alert can be shown to login to purchase the book.(use Material UI alert Component)
-

[2021-10-11 14:06] Mrhb787 opened #111 "Add New Address Option in Payment Not Working."
![Screenshot 2021-10-11 192848](https://user-images.githubusercontent.com/56078689/136802804-71bae964-ae97-49dc-8bd1-79fffc67f81f.png)

- The `Add Address` Option with ```value = addNew ``` when selected should redirect user to `/UserProfile/4` to add new address but currently it does not redirects to no where.
- 'useHistory' hook can be used to solve the problem.

### Should be done like this..

[2021-10-11 14:12] mtwn105 commented on #111
Hi @Mrhb787 can I try this?

[2021-10-11 14:17] Mrhb787 opened #113 "Navbar All Categories redirect fix required"
- In Navbar When You Click On `ALL CATEGORIES` it redirects to path `/SearchResult/books` but it should redirect to path `/SearchResult/tag:ALL`.

- To fix this go to navbar Component and change the Link address to given correct address.

[2021-10-11 20:59] RohitKumar-200 commented on #110
Issues are assigned on the basis of **first come first serve**. So I have assigned it to @logicalahara

[2021-10-12 07:57] Mrhb787 opened #114 "Image Magnifier Glass Needed In Book Details Component"
![Screenshot 2021-10-12 132310](https://user-images.githubusercontent.com/56078689/136915055-37dd88ff-f197-4d61-b9da-cd19f55d5448.png)

- It would be really great if user can magnify on hover over image to get all details.
- An Image Magnifier Glass will be Great.
- Refer This to Know how to make It work : [How To Create an Image Magnifier](https://www.w3schools.com/howto/howto_js_image_magnifier_

[2021-10-12 09:04] Mrhb787 opened #115 "Add Reviews Component Not Mobile Friendly"
![Screenshot 2021-10-12 142734](https://user-images.githubusercontent.com/56078689/136925455-2e45eda9-0dd1-45c9-8078-8d918dc1b6f1.png)
![Screenshot 2021-10-12 142836](https://user-images.githubusercontent.com/56078689/136925468-f0449da3-6141-419f-8b92-89d078a1eb20.png)

- To Open this Component go to this Route : `AddReview/60f5594a8d80580022865f22`
- The Component isn't Mobile Friendly and breaks

[2021-10-12 10:35] Neniya commented on #94
I haven't done a lot, just tried to get data:

[code]

And I get an error:
<img width="681" alt="Screenshot 2021-10-12 at 12 25 06" src="https://user-images.githubusercontent.com/65239393/136939245-8a7a263c-25e6-4714-a395-afd84ec335cd.png">

The full url is  https://bookshlf.herokuapp.com/getSellerProfile?sellerId=60f09b1a3a24d10022919697
If I write the url to address bar in browser it returns the

[2021-10-12 10:38] MohsinNajmuddin commented on #115
@Mrhb787 I can do this. Assign it to me

[2021-10-12 10:52] MohsinNajmuddin commented on #110
@Mrhb787 this one is now assigned to me?

[2021-10-12 11:39] mtwn105 commented on #111
Added PR #116

[2021-10-12 14:33] #111 closed, assigned to mtwn105

[2021-10-12 15:22] Mrhb787 opened #118 "Navbar Small Popup Menu has a wrong route to seller Panel"
![Screenshot 2021-10-12 204642](https://user-images.githubusercontent.com/56078689/136983405-b21aaee9-7bf9-4feb-ae02-90e0e6d9f525.png)

- #### When we Click on `Sell Books` we get redirected to `/SellerPanel` but we should be redirected to `/SellerPanel/4`.
- #### Popup Menu is located in Navbar component `src/components/Navbar/Navbar.js`

[2021-10-12 15:37] Neniya commented on #94
@Mrhb787 thank you for your answer. I do the same things but response from the server is error 500.
If it work for you correctly, I assume that this is a problem in my side. I'll try to find it.

[2021-10-12 16:13] Mrhb787 commented on #118
@yash-jain24 I have assigned this issue to you now.

[2021-10-12 16:39] RohitKumar-200 commented on #94
@Neniya This API doesn't require a login, and hence role of the user will not affect this api in any case.

[2021-10-12 16:48] RohitKumar-200 commented on #94
@Neniya
One thing which you can do is:
Make a temporary PR with whatever code you have written. We will review your code in PR and help you resolve this issue.

[2021-10-12 16:50] yash-jain24 commented on #118
![image](https://user-images.githubusercontent.com/60182679/136997318-c692934f-95f5-42b7-adb1-a69dcea1093d.png)
in my local environment sellerpanel is not working

[2021-10-12 17:58] RohitKumar-200 commented on #102
Thank you for your contribution @benardcharumbira

[2021-10-12 17:58] #102 closed, assigned to benardcharumbira

[2021-10-12 18:30] RohitKumar-200 opened #121 "No option to delete an image in Add new book section"
**Issue:**
After selecting images for the book in the "Add new book" section (In the seller panel), there is no option to remove any particular image.
The only way is to do so is to replace images with some new set of images.

**Current scenario:**
![Add images in book](https://user-images.githubusercontent.com/55583961/137009020-ff908146-2096-46c6-85b0-09a9bfa041cb.png)

**Changes required:**
On

[2021-10-13 04:17] #118 closed

[2021-10-13 05:28] RohitKumar-200 opened #125 "Update social media links in footer"
Social media links in the footer do not contain the correct redirect URL. Update them.

Use [https://linktr.ee/Bookshlf](https://linktr.ee/Bookshlf) for reference.

![social media](https://user-images.githubusercontent.com/55583961/137072491-80d919f4-86fd-496c-80c3-91fc2ec27431.png)

[2021-10-13 06:59] rupalisingh commented on #50
Hi @RohitKumar-200 can you please assign me this issue.

[2021-10-13 07:07] Neniya commented on #94
@Mrhb787 @RohitKumar-200
I put the code here: **git@github.com:Neniya/Website.git** on the branch **seller-public-profile**
The route **SellerProfile/${sellerId}** can be accessed by clicking on the seller's name in the book details section
<img width="474" alt="Screenshot 2021-10-13 at 08 44 57" src="https://user-images.githubusercontent.com/65239393/137083802-ccf87abb-2e7b-44fc-8e0f-a28507b2c023

[2021-10-13 13:56] Neniya commented on #94
@Mrhb787 I did it, could you please review it?

[2021-10-13 18:17] RohitKumar-200 opened #135 "Create Prettier config file"
**Create a config file for prettier in JSON format (.prettierrc) in the root directory of repository.**

It's properties should include:
* trailingComma = es5
* tabWidth = 2
* semi = true
* singleQuote = false

You can add other more configurations also, but there four should be present in it.

Also, **format every file** in this repository with prettier. and then create a PR.

Link for reference

[2021-10-13 20:47] MohsinNajmuddin commented on #110
@Mrhb787 ok

[2021-10-13 21:05] #135 closed

[2021-10-13 21:17] RohitKumar-200 commented on #80
@AngelicHeaven Any updates?

[2021-10-13 21:24] RohitKumar-200 opened #140 "Find new Issues"
Check out our website [https://bookshlf.web.app](https://bookshlf.web.app).

Find bugs in it, Add new features, improve UI/UX, or anything else.
Discuss it here(or create a new issue), and create PR referencing the issue.

[2021-10-13 21:41] enristra commented on #52
I can handle it!

[2021-10-13 22:08] MohsinNajmuddin commented on #110
@Mrhb787 Raised the PR. Please review. I have updated the message to look it more appropriate.

[2021-10-13 22:11] #121 closed

[2021-10-14 03:53] rockingrohit9639 commented on #76
Hey @Mrhb787 I would like to work on this issue can you assign this to me?

[2021-10-14 04:07] rockingrohit9639 opened #143 "Update the styling of Reviews section"
Hey there,
I would like to update the styling of the reviews section.

Currently, we have this ⬇️
![image](https://user-images.githubusercontent.com/40729749/137248878-475560b8-dfdc-442f-8f33-cc41114f3b01.png)

I would like to update this like this ⬇️
![image](https://user-images.githubusercontent.com/40729749/137250136-b290f0dd-7504-44cf-aa30-c9610652158b.png)

Can I work on this?

[2021-10-14 04:15] rockingrohit9639 commented on #76
Thank you.

[2021-10-14 04:21] RohitKumar-200 commented on #143
It looks pretty good. What are your thoughts @Mrhb787

[2021-10-14 04:28] rockingrohit9639 commented on #143
Thank you.

[2021-10-14 04:38] RohitKumar-200 commented on #140
@rockingrohit9639 This is a normal authentication process in any website. I don't think it is a good idea to directly log in after signUp. @Mrhb787 what are your thoughts on this?

[2021-10-14 04:56] RohitKumar-200 opened #144 "Add redirect URL in login"
login page always redirects to the home page after successful login. It would be nice if we redirect user to the page from which he clicked the log-in button.

For example:
Go on any book details page. After that click on the login button, you will now be redirected to the login page. After successful login, you will be redirected to the home page. But you should be redirected to the same book det

[2021-10-14 05:03] RohitKumar-200 commented on #144
@DKumar2169 Yes, you can work on this. I have assigned it to you. Feel free to ask any doubt.

[2021-10-14 05:06] DKumar2169 commented on #144
okay Thanks
so can you specify what files to changes/access

[2021-10-14 05:15] RohitKumar-200 commented on #144
You will have to make changes in these files:
* [App.js](https://github.com/Bookshlf-in/Website/blob/main/src/components/App/App.js)
* [Login.js](https://github.com/Bookshlf-in/Website/blob/main/src/components/Login/Login.js)
* [Navbar.js](https://github.com/Bookshlf-in/Website/blob/main/src/components/Navbar/Navbar.js)
* [Sidenav.js](https://github.com/Bookshlf-in/Website/blob/main/src/components

[2021-10-14 07:03] #143 closed, assigned to rockingrohit9639

[2021-10-14 09:29] #113 closed, assigned to juitelavane

[2021-10-14 09:32] yash-jain24 commented on #144
can i work on this?

[2021-10-14 19:28] Mrhb787 commented on #52
@enristra There Is No Such Specific Breakdowns but you can test all available pages in different screen size and if you find out some breakdowns you are free to work on it.

[2021-10-15 08:18] ansh-saini commented on #72
Hi, I would like to work on this. Can you please assign it to me?

[2021-10-15 09:40] Mrhb787 commented on #72
@ansh-saini I have assigned this issue to you.

[2021-10-15 16:32] #94 closed, assigned to Neniya

[2021-10-15 19:23] RohitKumar-200 commented on #140
@Neniya do you want to take up this issue?

[2021-10-15 19:54] Mrhb787 opened #155 "Seller Public Profile CSS Enhancements"
### Current
![1](https://user-images.githubusercontent.com/56078689/137545956-aad6ac25-fc59-4385-b2f7-a0621a98b722.png)

### Sample Improvement
![2](https://user-images.githubusercontent.com/56078689/137545072-23976273-c810-4ebb-ab70-b305f325dbf7.png)

- Refer UserProfile by creating account and going to **UserPanel** or Register as Seller and analyze the `SellerPanel.css`

[2021-10-15 19:56] Mrhb787 opened #156 "There is a small problem for the smallest screen on Profile page:"
There is a small problem for the smallest screen on Profile page:
avatar covers user's information.
<img width="241" alt="Screenshot 2021-10-15 at 15 21 15" src="https://user-images.githubusercontent.com/65239393/137493861-586b32c8-fe2c-4d1a-add6-bc36715635c7.png">

_Originally posted by @Neniya in https://github.com/Bookshlf-in/Website/issues/140#issuecomment-944299558_

[2021-10-15 21:04] codex111 commented on #156
can i work on it

[2021-10-16 07:40] wali39 commented on #155
already designed
so why you assign me ? you need close it
![cc](https://user-images.githubusercontent.com/57776479/137578610-0b2ce109-1249-4895-9672-b17b6b7e11fd.PNG)

[2021-10-16 09:41] Mrhb787 commented on #155
@wali39 fetch your code from dev branch, run it locally, and then go to this route [http://localhost:3000/SellerProfile/60f09b1a3a24d10022919697](http://localhost:3000/SellerProfile/60f09b1a3a24d10022919697)

This component don't have any css file. Create a new css file and add stylings in it.

![image](https://user-images.githubusercontent.com/56078689/137582816-cf2106bb-dd14-4c56-b6da-bc7039612b

[2021-10-16 09:42] #110 closed

[2021-10-16 09:44] #72 closed

[2021-10-16 19:04] #156 closed

[2021-10-16 19:38] #155 closed

[2021-10-18 10:14] RohitKumar-200 opened #164 "SEO Improvements for website"
Use [react-helmet](https://www.npmjs.com/package/react-helmet) library to improve SEO for website.
Write only title and meta description inside Helmet component

Example:
[code]

This helmet component is needed for the following pages:
- [x] [Home page](https://bookshlf.web.app/)
- [x] [Contact Us](https://bookshlf.web.app/Contact)
- [x] [About](https://bookshlf.web.app/About)
- [x] [Book Details]

[2021-10-18 14:20] Mrhb787 commented on #115
@MohsinNajmuddin any Updates ?

[2021-10-19 07:37] #164 closed, assigned to arisaokasaka

[2021-10-19 08:50] #80 closed

[2021-10-19 09:21] Mrhb787 opened #167 "UI Changes For About Us Page."
### Refer below UI for reference
![ss](https://user-images.githubusercontent.com/56078689/137881253-4a86945a-7e00-4b16-9185-7bc4f70defc8.png)

**Note: Don't Remove the shooting star animation of the background.**
### Social Media Links

- https://linktr.ee/bookshlf
- for Bookshlf Logo go to [public/images/smallLogo.svg](https://github.com/Bookshlf-in/Website/blob/main/public/images/smallLogo.svg)

[2021-10-19 09:37] Mrhb787 opened #168 "Add Link to Order Tracking In Previous Orders."
### Current UI
![ss](https://user-images.githubusercontent.com/56078689/137883756-db808ca1-db4b-474a-bf7b-2c33e1b69c4e.png)

### Required UI
![ss](https://user-images.githubusercontent.com/56078689/137883703-6878df88-998c-4ac8-adee-0a5851310c16.png)

- Link should refer to Order Tracking page.
- Sample Link : https://bookshlf.web.app/Track/61010bf86f06920022e11295
- Route : `/Track/[OrderId]`

[2021-10-19 13:29] #167 closed, assigned to murattishkul

[2021-10-19 13:35] Mrhb787 opened #170 "Missing Social Media Links in Contact US form."
![image](https://user-images.githubusercontent.com/56078689/137919852-e9a75d3a-1dba-4b3c-a251-28fefdc47709.png)

- Get Links From Here : [Bookshlf | Linktree](https://linktr.ee/bookshlf)
- Just use `<Link to={{ pathname = "[Social-Media-Link]", }}> [Text] </Link>` OR refer **About Us** Component.

[2021-10-19 14:00] Mrhb787 commented on #170
@YashGupta29 Assigned You

[2021-10-19 19:28] maazkhalil commented on #170
hi, can you assign this issue to me? I would love to contribute

[2021-10-19 19:32] #170 closed

[2021-10-19 19:37] Mrhb787 commented on #170
We are always trying to find out issues and you can star this repo for future references. We are always open to any improvement you can make to our project.

[2021-10-19 20:55] RohitKumar-200 commented on #140
@bhumithakur More button is working fine. As no. of books are less, it seems that button is not working. I have added more books, you can check it now.

[2021-10-19 21:04] RohitKumar-200 opened #174 "Add links to categories in main page"
Categories on the home page are not clickable. Link them to search result page as `/SearchResult/tag:<tag name>`

For example, on clicking Novels category, page should redirect to `/SearchResult/tag:Novel`

![image](https://user-images.githubusercontent.com/55583961/137989958-b03a61d1-7893-4e2d-83ac-7f00adeb854a.png)

[2021-10-19 21:23] taticorrea commented on #174
Seems to be easy, but i don't have experience with React yet...

[2021-10-19 21:31] RohitKumar-200 commented on #174
@taticorrea It is a **good first issue**. This issue doesn't require knowledge of react js, but you should be able to set up your environment to run this project locally. If you want you can try to solve this issue, If it works then great, otherwise tell me, I will assign it to someone else.

Should I assign this issue to you?

[2021-10-20 07:07] #168 closed, assigned to YashJain2409

[2021-10-20 13:27] Mrhb787 commented on #140
- I Guess It's a pretty good idea as I was About to make this issue. Please Go for It and Make PR to `dev` branch.

[2021-10-20 13:29] Mrhb787 commented on #76
@rockingrohit9639 Any Updates ?

[2021-10-20 13:32] Mrhb787 opened #175 "Best selling books on the homepage is not clickable."
Best selling books on the homepage is not clickable.
For example, On clicking 'Test your C skills',page should redirect to the book-details page of that book.

I would like to work on this if it's valid issue.

![best_selling_books](https://user-images.githubusercontent.com/76648444/138088089-05e2ff37-f31b-4c89-9986-eebd37aa1482.jpg)

On clicking it will redirect to its details page ->

![book det

[2021-10-20 13:33] Mrhb787 commented on #175
@AnimeshMore Would You Like To work On This ? I have Created This Issue

[2021-10-21 11:36] SaintJul commented on #174
Is this issue still open?

[2021-10-21 16:13] AngelicHeaven commented on #49
@Mrhb787  @bhumithakur  Hello, I am sorry for the complication. I have sent the PR for this issue, however now I see I was unassigned from this issue few days ago and there is a new assignee for this.

[2021-10-22 13:23] #175 closed, assigned to AnimeshMore

[2021-10-22 13:38] Mrhb787 opened #183 "Cart Purchase Quantity Becomes Sometimes negative."
![image](https://user-images.githubusercontent.com/56078689/138462084-a9aab38f-fb9d-4a10-b228-c6183caa0234.png)

### How to reproduce this ?
1. Add an item to cart.
2. Increase Item quantity to some number number greater than 1.
3. Reload the page. *(use F5 or reload button in browser)*
4. decrease the Item Quantity back to 1 and cart items count gets negative.

### Possible Reason
- when item qua

[2021-10-24 10:29] #183 closed, assigned to nobody

[2021-10-27 18:31] #115 closed, assigned to YashJain2409

[2021-11-08 08:36] Mrhb787 commented on #114
Issue is unassigned and Open for contribution.

[2021-11-08 08:57] yash-jain24 commented on #114
I want to try can you assign this to me?

[2021-11-12 16:56] yash-jain24 commented on #114
![image](https://user-images.githubusercontent.com/60182679/141504898-e391fb3b-e47c-4216-9699-73165c4c050d.png)
I have implemented it is it okay?

[2021-11-12 19:21] yash-jain24 commented on #114
I made a pull request , review it.

[2021-11-13 13:38] Mrhb787 commented on #114
Issue Resolved

[2021-11-13 13:38] #114 closed

[2021-11-13 13:52] Mrhb787 opened #191 "Replace normal tables with Material UI tables for Display of Address list in Profile Panel and Seller Panel"
![Screenshot](https://user-images.githubusercontent.com/56078689/141646295-7e65ff0f-b42d-436d-8717-10ad135b5780.jpg)

- Currently Normal Tables are present with no better functionalities and UI.
- Material UI Provides Rich UI Tables with different features such as column sorting, better stacking, adaptive tables etc.
- Refer this [Material UI Tables](https://v4.mui.com/components/tables/#table)

#

[2021-11-13 18:17] yash-jain24 commented on #191
I want to work on this.

[2021-11-18 05:07] yash-jain24 commented on #191
should I implement it using DataGrid component or basic MUI table?

[2021-11-22 14:58] Mrhb787 commented on #191
Data grid would be good.

Use this for reference :
https://mui.com/api/data-grid/data-grid/

[2021-11-28 08:16] Mrhb787 commented on #191
@yash-jain24 any progress

[2021-11-28 08:44] yash-jain24 commented on #191
Yeah, I am working on it.

[2021-11-29 18:58] yash-jain24 commented on #191
made a PR, review it.

[2021-11-30 08:50] Mrhb787 commented on #191
Issue Resolved Closing it Now

[2021-11-30 08:50] #191 closed

[2021-12-13 19:15] AngelicHeaven commented on #140
@Mrhb787 hello I would like to ask if this project uses any CI technology? :)  thank you.

[2021-12-14 09:21] RohitKumar-200 commented on #140
@AngelicHeaven No.
Currently this project doesn't have any kind of automated tests. So, using CI/CD can result in worst outcomes. We manually do it to avoid bugs.

[2022-01-20 12:24] RohitKumar-200 commented on #52
I think, now there are no issues regarding responsiveness, so I am closing it.

[2022-01-20 12:24] #52 closed

[2022-01-23 18:01] Mrhb787 opened #219 "Replace react-helmet with react-helmet-async"
## Remove
- Remove `react-helmet` from dependencies in `package.json`.
- Remove All *React Helmet* Implementations.

## Install
- Install [react-helmet-async](https://www.npmjs.com/package/react-helmet-async)

## Usage
- Inside `index.js` wrapping `App` with `HelmetProvider`.
[code]

- Usage for other components.
- Taking `Login.js` as example.
-
[code]

[2022-01-23 18:31] Mrhb787 opened #220 "Add React-Filepond for Image Upload in AddBook.js"
## Install
- Install [react-filepond](https://www.npmjs.com/package/react-filepond)
- Install `npm i filepond-plugin-image-preview filepond-plugin-image-exif-orientation --save` for Image EXIF Orientation and Image Preview plugins.
## Usage
- Example
[code]
#### [Preview](https://codesandbox.io/s/react-filepond-live-demo-iw9ri)

[2022-01-24 07:20] #219 closed

[2022-01-30 12:19] #220 closed

[2022-03-31 13:31] MerguRajesh123 commented on #140
When iam registering with user details it shows error like
![Uploading IMG20220331185953.jpg…]()

[2022-03-31 13:46] MerguRajesh123 commented on #140
![Uploading IMG20220331185953.jpg…]()

[2022-03-31 13:47] kalyan-achyuta commented on #140
Signup page is not working
when i took this code run in  my vscode the signup page error is showing while registering.

[2022-04-01 06:22] MerguRajesh123 commented on #140
@RohitKumar-200 when I try to add book it shows approval pending how can I add

[2022-04-01 12:34] RohitKumar-200 commented on #140
@MerguRajesh123 @kalyan-achyuta
Is your signup problem resolved now?

[2022-04-01 12:41] RohitKumar-200 commented on #140
@MerguRajesh123 When the admin approves the book, then you can see that book in search results.

Currently, you are using our hosted backend API, therefore I am the admin there. I have approved the book. If you want your own backend and database, you can refer to the [Backend](https://github.com/Bookshlf-in/Backend) repo and set up your own backend.

[2022-06-25 18:36] Mrhb787 opened #258 "Migrate react-router-dom 5.2.0 to 6.9.0"
Currently, `react-router-dom 5.3.0` is present which has now become old and misses the latest features of `reacter-router-dom 6.9.0`
however, on migration, various possible issues may occur due to changes in import statements of various elements of react-router-dom.

#### Current Package
[code]

#### Required Package
[code]

- Refer [React Router](https://reactrouter.com/) for more information

[2022-06-25 18:41] Mrhb787 opened #259 "Migrate mui from 5.3.0 to 5.11.14"
#### Current Package
[code]

- refer [MUI](https://mui.com/) for more information

[2022-06-25 18:50] Mrhb787 opened #260 "Bookshlf Theme Colors Required"
Currently, there is no theme set for the bookshlf due to which the platform misses the small uniqueness which we want to remove.

#### Preferred Colors to be used for themes
[code]
**You can tweak these colors to some extent but the colors should not drastically change.**

[2022-06-25 19:01] Mrhb787 opened #261 "UI Designs For Different Components"
We Would Love to have Interactive, Fluid, and Lucrative designs for our platform.
There are a lot of components such as `Login`, `SignUp`, `AboutUs`, and `ContactUs` etc.
Remember to Make the designs in `Figma` and also that they should maintain a constant binary color theme.

- Refer [Figma](https://www.figma.com/) for more Information
- Also Check Out Preferred Binary Color gave in this [Issue](

[2022-10-05 20:01] Mrhb787 opened #264 "Use Debouncing in Book Search to reduce API Calls"
- Currently for any change in characters in Search Text Field, Search API is called.
- This increased load on server as well as adds unnecessary search results to database.

### Solution

- Adding **Debouncing** would be a great option.
- You can find out about [debouncing](https://medium.com/@jamischarles/what-is-debouncing-2505c0648ff1) here.

[2022-10-05 20:15] Mrhb787 opened #265 "Search Page Navigation Bug"
### Problem
- When user goes to some page **x** and opens a book to see book details when coming back the user again reaches to first page.
- _refer video to get a better Idea_ : [Link](https://user-images.githubusercontent.com/56078689/194152834-4f2b0ead-f265-4d2b-84f0-3841a9adda01.mp4)

### Solution
- There can be multiple ways to solve this however i would prefer to use `useContext` here.
- In

[2022-10-06 03:44] najeebkp commented on #265
Hi @Mrhb787 please assign this to me

[2022-10-06 03:55] YashJain2409 commented on #264
Hey, can I work on this?

[2022-10-06 12:40] Mrhb787 commented on #265
Hi @najeebkp Assigned it to you.
- Remember to follow contribution guidelines while making a PR

[2022-10-06 12:42] Mrhb787 commented on #264
Hi @YashJain2409 assigned it to you.

[2022-10-06 21:43] Mrhb787 commented on #265
Hi @najeebkp You can send the PR again to same thread.

[2022-10-07 17:31] Mrhb787 commented on #264
Hi Yash, Seems modules are missing.
Try deleting the node-modules folder & package-lock.json.
then again do `npm install`.

Also is problem persists share your package.json file located in root directory of project

[2022-10-07 17:42] Mrhb787 opened #268 "Remove Unverified Status from Seller Profile."
- If seller is unverified don't show `unverified` tag meaning only show verified tag when seller is verified.

[2022-10-07 17:50] bkjain655 commented on #268
Hi @Mrhb787 ,

I can work on this issue.  please assign it to me.
Just clarifying the issue that we don't want to show unverified tag in the detail page if the seller is unverified.

[2022-10-07 17:52] Mrhb787 commented on #268
@bkjain655 Assigned You.

[2022-10-07 18:14] YashJain2409 commented on #264
![book](https://user-images.githubusercontent.com/60182679/194623153-fc15ff17-a670-4987-b91d-cded1751af40.PNG)
i tried deleting node_modules and package-lock.json , it's not working

[2022-10-07 18:21] bkjain655 commented on #268
Hi @Mrhb787 ,

Can you share login details, I have made the changes but wanted to test it once & your readme or env isn't sharing any such details?
Else I can raise a PR & you can validate it & approve it (if everything is fine).

Thank you,
Bhavesh.

[2022-10-07 18:40] bkjain655 commented on #268
@Mrhb787 : Validated & raised a PR (https://github.com/Bookshlf-in/Website/pull/269). Please check it.

[2022-10-08 08:38] Mrhb787 commented on #268
Solved in #269.

Closing this issue.

[2022-10-08 08:38] #268 closed

[2022-10-08 08:49] Mrhb787 commented on #264
Hi @YashJain2409,

## Method 1 - Simple
- Please update your branch with latest `origin/dev` branch.
- Again try `npm i`.

## Method 2 - Package.json Fixes
- In you package.json locate dependencies.
- Inside dependencies find dependency `"filepond-plugin-file-validate-type": "^1.2.6",`
- Add  dependency ` "filepond": "^4.30.4",`.
- e.g
[code]
Any Method should probably fix the problem.

- I don't

[2022-10-08 08:51] Mrhb787 commented on #265
Hi @najeebkp are you still working on this ?

[2022-10-08 08:55] najeebkp commented on #265
@Mrhb787 . i tried in lots of ways to crack this. but couldn't find a proper solution.

[2022-10-08 08:57] Mrhb787 commented on #265
No Worries @najeebkp.

[2022-10-08 16:25] YashJain2409 commented on #264
hey, do i have to add debouncing wherever we are searching for results ?

[2022-10-08 18:58] Mrhb787 commented on #264
For this issue it is required only for user search panel.

[2022-10-08 19:15] Mrhb787 commented on #265
Fixed in #271
Closing this Issue Now

[2022-10-08 19:15] #265 closed

[2022-10-08 19:16] Mrhb787 commented on #264
Fixed in #270
Closing it now

[2022-10-08 19:16] #264 closed

[2022-10-09 10:56] Dhruvil-P commented on #261
Hey there! How's it going? I'd like to take responsibility for this issue.

[2022-10-10 17:08] Mrhb787 commented on #261
Hi @Dhruvil-P Please go ahead. Assigning this to you.

[2022-10-14 15:14] Dhruvil-P commented on #261
Thanks for letting me know. Will start working on it.

[2022-10-15 18:16] Dhruvil-P commented on #261
Hey! Can you confirm the components which need to be redesigned in Figma? Thanks.

[2022-10-15 18:36] RohitKumar-200 commented on #261
Hi @Dhruvil-P You can try starting with [search page](https://bookshlf.in/SearchResult/tag:ALL) [Book details page](https://bookshlf.in/BookDetails/6346ddaa110c6db766eacf5b) [Home page](https://bookshlf.in/) or you can choose any other page present in website you want to re-design.

[2022-10-15 19:17] Dhruvil-P commented on #261
Perfect. 👍🏻

[2022-10-23 17:04] Dhruvil-P commented on #261
Hey! The designs are done. How should I proceed?

[2022-10-25 05:03] Dhruvil-P commented on #261
Hey @RohitKumar-200. I created a PR for the designs. Here's a quick look if wanna review it. And, lemme know what other design tasks I need to do.
![Desktop - 3](https://user-images.githubusercontent.com/76477111/197686902-9adb59ee-416a-4d34-8596-eb18245ad85d.png)
![Desktop - 4](https://user-images.githubusercontent.com/76477111/197686910-de312eda-7901-45cf-827c-78ddcfbb2897.png)
![Desktop - 5](ht

[2022-10-25 05:04] Dhruvil-P commented on #76
Hey! Can I work on this issue as well?

[2022-10-26 17:00] RohitKumar-200 commented on #261
Hi @Dhruvil-P

I am sorry, I couldn't reply to you as I was little busy.

I reviewed your pull request #275
Since you are adding figma link directly, you can add the link in [readme.md](https://github.com/Bookshlf-in/Website/blob/main/README.md) itself

For reference, here is a screenshot, you can put all your links just above future plan heading:
![image](https://user-images.githubusercontent.com

[2022-10-26 17:03] RohitKumar-200 commented on #261
By the way, your designs are really great!!

Thanks for your contribution @Dhruvil-P  🙌

[2022-10-27 06:03] Mrhb787 commented on #261
Great Work @Dhruvil-P 🙌

[2022-10-27 10:16] Dhruvil-P commented on #261
`

Understood. I'll create PRs for separate Figma pages.

[2022-10-27 10:16] Dhruvil-P commented on #261
Thanks, guys. Glad ya'll like it.